body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.container {
    width: 900px; /* Šírka stránky */
}

/* Hlavička */
header {
    background-color: #c9a68c;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

/* Navigácia */
nav {
    background-color: #b38d8d;
    padding: 10px 0;
}

nav ul {
    list-style-type: none; /* Neočíslovaný zoznam bez odrážok */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: #4a1a1a;
    font-weight: bold;
}


.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


main {
    width: 550px; /* Šírka hlavnej časti */
    background-color: #e69163;
    padding: 20px;
    border-radius: 15px; /* Zaoblené rohy */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2); /* Tieň */
    text-align: justify; /* Zarovnané okraje textu */
    box-sizing: border-box;
}


aside {
    width: 280px; /* Šírka užších panelov */
}

.side-box {
    background-color: #a64d26;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px; /* Zaoblené rohy */
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2); /* Tieň */
    overflow: hidden;
    color: black;
    font-size: 0.9em;
}

.side-box img {
    width: 40px;
    float: left; /* Obtekanie textu */
    margin-right: 15px;
    border-radius: 50%;
}


footer {
    background-color: #a6735d;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
}
